<section class="hero is-primary is-medium animated slideInDown ">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head  ">
    <header class="nav ">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item pacifico medium-text animated pulse infinite">
            Modern Web Store
          </a>
        </div>
        <span class="nav-toggle">
          <span></span>
        <span></span>
        <span></span>
        </span>
        <app-submenu></app-submenu>
      </div>
    </header>
  </div>
</section>